@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 95%;
    /* --background-gray: 204.7 8.7% 38.2%;
    --background-darker-gray: 210 13.2% 20.8%; */
    /* --card: 20 14.3% 5.1%;
		--card-foreground: 60 9.1% 97.8%; */
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --success: 142.1 70.6% 45.3%;
    --success-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  /* body {
		@apply bg-background text-foreground;
	} */
}

.ql-container {
  font-size: 16px !important;
}
.navbar-container {
  width: -webkit-fill-available;
}

.landing-page-headers {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.border-top {
  border-top: 3px solid white;
}
.border-bottom {
  border-bottom: 3px solid white;
}

.cropped-right-bottom {
  width: 100%;
  height: 50px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0, 100% 0);
}

.cropped-left-top {
  width: 100%;
  height: 50px;
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
.cropped-left-bottom {
  width: 100%;
  height: 50px;
  -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
  clip-path: polygon(0 100%, 100% 0, 0 0);
}
.cropped-right-top {
  width: 100%;
  height: 50px;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.hero-container-image {
  background-image: url("https://utfs.io/f/6567cadd-e753-4eb0-a776-448141be4338-fjoxpi.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.services-image {
  background-image: url("https://utfs.io/f/06c3a748-c63f-4b80-bcd8-2a577de369f2-glm0ln.png");
  z-index: 10;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.background-gray {
  background-color: #59636a;
}

.background-dark-gray {
  background-color: #2e353c;
}

.thunder-icon--category-item {
  transform: scale(50%);
}
@import "~@uploadthing/react/styles.css";
